.Main {
    background: white;
    margin-top: 10px;
    margin-left: 425px;
    width: 800px;
    height: 900px;
    
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.67); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.67);
}

.Sections {
    background-color: #e5e5e5;
    color: #777;
    width: 660px;
    height: 30px;
    margin-left: 70px;
    
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.37); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.37);
}

.Sections p {
    position: absolute;
    margin-top: 4px;
    margin-left: 10px;
}

.Content {
    width: 660px;
    margin-top: 10px;
    margin-left: 80px;
    margin-bottom: 10px;
}
.Brand-container {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    width: 80%;
    margin-top: 10px;
    padding: 10px;   
    margin-left: 60px;
    margin-bottom: 10px;
    
 }

@media only screen and (max-width: 1250px) {
    .Sections, .Content, .MyCarousel {
        width: 85%;
    }
    .Brand-container {
        display: grid;
        grid-template-columns: 18% 18% 18% 18% 18%;
        
        width: 90%;
        margin-top: 10px;
        padding: 10px;   
        margin-left: 75px;
        margin-bottom: 10px;
        
     }
    .Main {
        margin-top: 1000px;
        margin-left: 100px;
        width: 80%;
        height: 950px;
    }
}

@media only screen and (max-width: 1024px) {
    .Sections, .Content, .MyCarousel{
        width: 82%;
    }
    .Brand-container {
        display: grid;
        grid-template-columns: 18% 18% 18% 18% 18%;

        width: 90%;
        margin-top: 10px;
        padding: 10px;   
        margin-left: 60px;
        margin-bottom: 10px;
        
     }
    .Main{
        margin-top: 1000px;
        margin-left: 80px;
        height: 880px;
        
    }
}

