.Footer_container {
    background-color: #DBDBE6;
    width: auto;
    height: 130px;
    margin-top: 95px;
}

.About_us {
    position: absolute;
    margin-top: 10px;
    margin-left: 100px;
    font-size: 17px;
}

.Questions {
    position: absolute;
    margin-top: 10px;
    margin-left: 400px;
    font-size: 17px;
}

.Shipping {
    position: absolute;
    margin-top: 10px;
    margin-left: 700px;
    font-size: 17px;
}

.Security {
    position: absolute;
    margin-top: 10px;
    margin-left: 1000px;
    font-size: 17px;
}

.Business {
    position: absolute;
    margin-top: 10px;
    margin-left: 1300px;
    font-size: 17px;
}

.Links {
    margin-top: 10px;
}

.Links p {
    font-size: 15px;
    color: grey;
    
}

.Links p:hover {
    text-decoration: underline;
    cursor: pointer;
}